## Table of Contents <a class="anchor" id="toc"></a>
* [AWS Configurtions](#aws-configurations)
* [Clients to access AWS resources](#clients-aws-resources)
* [IAM Role](#iam-role)
* [Redshift Cluster](#redshift-cluster)
* [ETL](#etl)
* [Testing](#test)
* [Clean up resources](#cleanup-resources)

In [1]:
%load_ext sql

In [2]:
import boto3
import json
import time
import getpass
import configparser
import pandas as pd

## AWS Configurtions <a class="anchor" id="aws-configurations"></a>
###### [Table of Contents](#toc) &#8593;

In [3]:
# Enter AWS KEY and Secret
KEY = getpass.getpass(prompt='Enter AWS Access key ID:')
SECRET = getpass.getpass(prompt='Enter AWS Secret access key')

Enter AWS Access key ID: ····················
Enter AWS Secret access key ········································

In [4]:
# Load DWH Params from config file
CONFIG_FILE = 'dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

REGION                 = config.get("AWS","REGION")

DWH_IAM_ROLE_NAME      = config.get("IAM","ROLE_NAME")

DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

## Clients to access AWS resources <a class="anchor" id="clients-aws-resources"></a>
###### [Table of Contents](#toc) &#8593;

In [5]:
# Created clients for S3, AM and Redshift
s3 = boto3.resource('s3',
                    region_name=REGION,
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',
                   region_name=REGION,
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET
                  )

redshift = boto3.client('redshift',
                        region_name=REGION,
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                       )

In [6]:
# Check out the sample data sources on S3 
sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

## IAM Role <a class="anchor" id="iam-role"></a>
###### [Table of Contents](#toc) &#8593;

In [7]:
# Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)
try:
    print('Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {
                'Statement': [
                    {
                        'Action': 'sts:AssumeRole',
                        'Effect': 'Allow',
                        'Principal': {'Service': 'redshift.amazonaws.com'}
                    }
                ],
                'Version': '2012-10-17'}
        )
    )
except Exception as e:
    print(e)

Creating a new IAM Role

In [8]:
print('Attaching Policy')
iam.attach_role_policy(
    RoleName=DWH_IAM_ROLE_NAME,
    PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
)['ResponseMetadata']['HTTPStatusCode']

Attaching Policy

200

In [9]:
print('Get the IAM role ARN')
DWH_ROLE_ARN = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(DWH_ROLE_ARN)

Get the IAM role ARN
arn:aws:iam::261476836151:role/dwhRole

In [10]:
# Update config file with DWH_ROLE_ARN
config.set("IAM","ROLE_ARN", DWH_ROLE_ARN)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

## Redshift Cluster <a class="anchor" id="redshift-cluster"></a>
###### [Table of Contents](#toc) &#8593;

In [11]:
# Create a RedShift Cluster
try:
    response = redshift.create_cluster(        
        # Add parameters for hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Add parameters for identifiers & credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Add parameter for role (to allow s3 access)
        IamRoles=[DWH_ROLE_ARN]
    )
except Exception as e:
    print(e)

In [12]:
# Wait for cluster getting created
print('Redshift Cluster is getting created...')
cluster_status = 'creating'
while cluster_status != "available":
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    cluster_status = myClusterProps['ClusterStatus']
    time.sleep(5)
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
print(f'Cluster status: {cluster_status} \nEndpoint: {DWH_ENDPOINT}')

Redshift Cluster is getting created...
Cluster status: available
Endpoint: dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com

In [13]:
# Update config file with DWH_ENDPOINT
config.set("CLUSTER","HOST", DWH_ENDPOINT)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

In [14]:
# Establish conection to the cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## ETL <a class="anchor" id="etl"></a>
###### [Table of Contents](#toc) &#8593;

In [27]:
# Create staging, fact and dim tables
!python3 create_tables.py

In [28]:
# ETL
!python3 etl.py

## Testing <a class="anchor" id="test"></a>
###### [Table of Contents](#toc) &#8593;

#### Check count of staging, fact and dim tables entries

In [29]:
%sql SELECT count(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [30]:
%sql SELECT count(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [31]:
%sql SELECT count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [32]:
%sql SELECT count(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [33]:
%sql SELECT count(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [34]:
%sql SELECT count(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [35]:
%sql SELECT count(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

#### Display few entries of tables

In [36]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [37]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR10USD1187B99F3F1', None, None, 'Burlington, Ontario, Canada', 'Tweeterfriendly Music', 'SOHKNRJ12A6701D1F8', 'Drop of Rain', 189.57016, 0),
 (1, 'ARAO91X1187B98CCA4', 41.50471, -81.69074, 'Cleveland, Ohio', 'Tracy Chapman', 'SOJCRUY12A67ADA4C2', 'Fast Car (LP Version)', 296.07138, 1988),
 (1, 'ARZHPKG1187FB4A298', None, None, 'Oakland, CA', 'Judee Sill', 'SOCEGVY12AB0182BBC', 'The Wreck of the FFV - Fast Flying Vestibule', 193.35791, 0),
 (1, 'ARWAFY51187FB5C4EF', None, None, 'Atlanta, GA', 'Lil Scrappy', 'SOHQZIB12A6D4F9FAF', "N****_ What's Up [Featuring 50 Cent] (Album Version)", 196.85832, 2006),
 (1, 'ARSSDXP1250940EA97', None, None, '', 'Benito Kamelas', 'SOXWMCD12AB01810DB', 'Loko', 227.89179, 2005)]

In [38]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(44, datetime.datetime(2018, 11, 3, 21, 14, 28), 49, 'free', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 195, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (60, datetime.datetime(2018, 11, 24, 4, 31, 30), 29, 'paid', 'SOAECHX12A6D4FC3D9', 'ARX2DLI1187FB4DD03', 709, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (140, datetime.datetime(2018, 11, 5, 11, 36, 56), 44, 'paid', 'SONQEYS12AF72AABC9', 'ARLY7P81187B9ACF4D', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (292, datetime.datetime(2018, 11, 13, 14, 24, 57), 29, 'paid', 'SOQHFWA12AAA8C6662', 'ARWAQTR1187FB38810', 486, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (46, datetime.datetime(2018, 11, 20, 17, 46, 38), 49, 'paid', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 758, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [39]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (33, 'Bronson', 'Harris', 'M', 'free'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (94, 'Noah', 'Chavez', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free')]

In [40]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOZQOSV12AB018CDFC', 'Do You Miss Me (Killians) (LP Version)', 'ARBVASN1187B9890CB', 2001, 169.69098),
 ('SOZMWSE12AB0183AC0', 'Compliment (LP Version)', 'ARDJAPU1187B9B4D48', 1999, 181.41995),
 ('SOZMYCU12A8C1318C2', 'Flavia', 'ARI9WBK119B3403B69', 2007, 320.07791),
 ('SOZDIFI12AB017EE3A', 'Inside Of You', 'ARERGDI1269FCD118F', 0, 422.32118),
 ('SOCVDYI12AC4687DDB', 'Lend Me Your Chopper', 'ARJDMBO1187B9AD118', 2004, 215.30077)]

In [41]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARE1N571187B98A47D', 'Prozak', 'London', 51.50632, -0.12714),
 ('ARGE26T1187B9891C8', 'Paul Winter', 'Altoona, PA', 40.50719, -78.3989),
 ('ARUW6HS1187FB3F028', 'Rokia Traoré', '', None, None),
 ('AREZHIK1187B9AEB46', 'Terrorvision', '', None, None),
 ('AR2AEIR1187B9B9FC9', 'Amebix', 'England', 52.88356, -1.97406)]

In [42]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 24, 4, 29, 50), 4, 24, 47, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 5, 14, 39, 43), 14, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 29, 18, 52), 18, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 28, 17, 5, 20), 17, 28, 48, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 15, 10, 44, 29), 10, 15, 46, 11, 2018, '4')]

#### Sample analytical queries

**Q1) What are the most played songs?**

In [56]:
%%sql
SELECT s.title AS song, count(song) AS frequency 
FROM songplays sp 
JOIN songs s ON (s.song_id = sp.song_id) 
GROUP BY song
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6)]

**Q2)When is the highest usage time of day by hour for songs?**

In [58]:
%%sql
SELECT extract(hour from sp.start_time) as hour, count(hour) AS frequency
FROM songplays sp
GROUP BY hour
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(17, 40), (18, 26), (15, 25), (16, 24), (8, 18)]

## Clean up resources <a class="anchor" id="cleanup-resources"></a>
###### [Table of Contents](#toc) &#8593;

In [59]:
# Delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cartrrecbcpi.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2023, 1, 17, 19, 49, 3, 574000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-00652478ce1e1d69d',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-097703816f289fa2c',
  'AvailabilityZone': 'us-west-2d',
  'PreferredMaintenanceWindow': 'fri:06:00-fri:06:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::261476836151:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'd9a125d9-fd55-470c-b60a-93f56e871711',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'd9a125d9-fd55-470c-b60a-93f56e871711',
   'content-type': 'text/xml',
   'content-length': '2712',
   'date': 'Tue, 17 Jan 2023 20:15:13 GMT'},
  'RetryAttempts': 0}}

In [60]:
# Wait for cluster deletion
print('Redshift Cluster is getting getting deleted...')
cluster_status = 'deleting'
while cluster_status == "deleting":
    try:
        myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        cluster_status = myClusterProps['ClusterStatus']
        time.sleep(5)
    except Exception as e:
        break
print(f'{DWH_CLUSTER_IDENTIFIER} has been deleted!')

Redshift Cluster is getting getting deleted...
dwhCluster has been deleted!

In [61]:
# Delete IAM Role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '7590753d-13ed-444a-b9bd-1a94a8e67d80',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '7590753d-13ed-444a-b9bd-1a94a8e67d80',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Tue, 17 Jan 2023 20:17:05 GMT'},
  'RetryAttempts': 0}}